@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cor-branca: #F6F4F3;
    --cor-azul: #276FBF;
    --cor-vermelha: #F72C25;
    --fonte-principal: "Montserrat", sans-serif;
}